body {
    background-color: #2d3a3a;
    color: black; 
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#szoveg {
    color: #4CAF50;
    text-shadow: 6px 6px 10px black;
    font-weight: bold;
}

#btnKereses, #omInput {
    border-radius: 0.5rem;
    padding: 8px 16px;
    cursor: pointer;
}

#btnKereses {
    background-color: #6e8f6f; 
    color: white;
    margin-left: 1rem;
}

#omInput {
    margin-left: 0;
    background-color: #2d3a3a;
    color: #fff;
    margin-bottom: 2rem;
}

#omInput::placeholder {
    font-style: italic;
}

#tablazat {
    width: 80%;
    margin-left: 2rem;
    background-color: #f0f0f0;
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;
}

#tablazat th, 
#tablazat td {
    border: 1px solid #dddddd;
    padding: 12px;
    text-align: left;
}

#tablazat th {
    background-color: #4CAF50;
    color: white;
}

#tablazat tr {
    background-color: #ffffff;
    transition: background-color 0.3s ease;
}

#tablazat tr:hover {
    background-color: #f2f2f2;
}
#statisztika {
    width: 25%;
    margin-left: 2rem;
    background-color: #dddddd;
    border-radius: 0.5rem;
    overflow: hidden;
    padding: 1rem;
    position: relative;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*#statisztika p {
    margin: 0;
    padding: 8px 16px;
    font-weight: bold;
    color: #4CAF50;
}

#statisztika p:last-child {
    border-bottom: none;
}
*/

#txtOM{
    color:#dddddd;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2rem;
    text-shadow: 2px 2px 10px rgba(13, 219, 133, 0.5);
}